<div class="container-fluid my-auto">
  <div class="row h-100">
    <div class="col-12">
      <div class="modal-content mx-auto modal-dialog">
        <div class="container">
          <div class="row modal-header">
            <div class="col-12 d-flex justify-content-center">
              <h1><span class="text-dark">Amtica</span></h1>
            </div>
          </div>
          <div class="modal-body">
            <div class="col-12">
              <form #createUser="ngForm" (ngSubmit)="signUp(createUser)">
                <div class="form-group">
                  <mat-form-field class="w-100">
                    <input matInput placeholder="Email" [formControl]="email" required>
                    <mat-error *ngIf="email.invalid" [innerHTML]="getErrorMessage('email')"></mat-error>
                  </mat-form-field>
                </div>
                <div class="form-group">
                  <mat-form-field class="w-100">
                    <input matInput placeholder="Password" [formControl]="password" required [type]="hidePassword ? 'password' : 'text'">
                    <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                      <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error *ngIf="password.invalid" [innerHTML]="getErrorMessage('password')"></mat-error>
                  </mat-form-field>
                </div>
                <div class="modal-footer border-top-0 container">
                  <div class="col">
                    <a [routerLink]="['/login']">
                      <button mat-button>Login</button>
                    </a>
                  </div>
                  <button mat-raised-button color="primary" type="submit" class="btn btn-success" [disabled]="!createUser.form.valid">Sign Up</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>