<div class="container-fluid my-auto">
    <div class="row h-100">
      <div class="col-12">
        <div class="modal-content mx-auto my-auto modal-dialog">
          <div class="container">
            <div class="row modal-header">
              <div class="col-12 d-flex justify-content-center">
                <h1><span class="text-success font-weight-bold">{{headerText}}</span></h1>
              </div>
            </div>
            <div class="modal-body">
              <div class="col-12">
                <ng-content></ng-content>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>